<head>


  <link rel="stylesheet" type="text/css" href="http://miriteam.com/styles/header.css?time=1618686062"/>
  <link rel="stylesheet" type="text/css" href="http://miriteam.com/styles/footer.css?time=1618686062"/>
  <link rel="stylesheet" type="text/css" href="http://miriteam.com/styles/fm.revealator.jquery.css" id="revealator">
  <link rel="stylesheet" type="text/css" href="http://miriteam.com/styles/media.css">
  <link rel="stylesheet" href="http://miriteam.com/styles/component.css" type="text/css" media="screen">
</head>
<body>
<div class="wrapper" style="padding-left: 10%">
  <ul class="stage clearfix">

    <li class="scene">
      <div class="movie" onclick="return true">
        <div class="poster"><h1>Умный город</h1></div>
        <div class="info">
          <header>

          </header>
          <p class="m1">
            Обнаружение повторного появления людей в поле
            зрения камеры для разных видеофрагментов
            <img src="../assets/sm1.jpg" style="max-width: 1000px">
          </p>
          <a class="button-more"  ><div>Подробнее</div></a>
        </div>
      </div>
    </li>

    <li class="scene">
      <div class="movie" onclick="return true">
        <div class="poster"><h1> Умные дороги</h1></div>
        <div class="info">
          <header>

          </header>
          <p>
            Обнаружение пробок в городе и правонарушений, совершаемых автомобилями
            <img src="../assets/sm2.jpg" style="max-width: 1000px">
          </p>
          <a class="button-more"  ><div>Подробнее</div></a>
        </div>
      </div>
    </li>

    <!-- <li class="scene">
      <div class="movie" onclick="return true">
        <div class="poster"><h1>Умное видеонаблюдение</h1></div>
        <div class="info">
          <header>
            <h1>Умное видеонаблюдение</h1>
          </header>
          <p>
            Подсчет количества людей, побывавших на площади за время съемки
          </p>
          <a class="button-more" href="http://miriteam.com/solution3" ><div>Подробнее</div></a>
        </div>
      </div>
    </li> -->
    <li class="scene">
      <div class="movie" onclick="return true">
        <div class="poster"><h1>Умный склад</h1></div>
        <div class="info">
          <header>

          </header>
          <p>
            Идентификация аномалий (открытие крышки коробки или падение коробки)
            <img src="../assets/sm4.jpg" style="max-width: 1000px">
          </p>
          <a class="button-more" ><div>Подробнее</div></a>
        </div>
      </div>
    </li>
    <li class="scene">
      <div class="movie" onclick="return true">
        <div class="poster"><h1>АПК DigIToil</h1></div>
        <div class="info">
          <header>

          </header>
          <p>
            Предупреждение о потенциальном нарушении техники безопасности, оповещение об инцедентах и несанкционированном пересечении охранной зоны
            <img src="../assets/sm5.jpg" style="max-width: 1000px">
          </p>
          <a class="button-more" ><div>Подробнее</div></a>
        </div>
      </div>
    </li>
    <li class="scene">
      <div class="movie" onclick="return true">
        <div class="poster"><h1>Cистема кругового обзора</h1></div>
        <div class="info">
          <header>

          </header>
          <p>
            Повышение качества формирования панорамного
            изображения за счет учета структуры сцены
            и пространственного расположения камер</p>
            <img src="../assets/sm6.png" style="max-width: 1000px">
          <p> </p>


          <a class="button-more" ><div>Подробнее</div></a>
        </div>
      </div>
    </li>
    <li class="scene">
      <div class="movie" onclick="return true">
        <div class="poster"><h1>SmARtCity</h1></div>
        <div class="info">
          <header>

          </header>
          <p>
            Разработка мобильного приложения,  в котором при наведении камеры на QR код проецируется 3D объект и информация о нем
            <img src="../assets/sm7.jpg" style="max-width: 1000px">
          </p>
          <a class="button-more" ><div>Подробнее</div></a>
        </div>
      </div>
    </li>
  </ul>
</div>
</body>
