<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Page Title -->
  <title>Dashmin - Multipurpose Bootstrap Dashboard Template</title>

  <!-- Meta Data -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/img/favicon.png">

  <!-- Web Fonts -->

  <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->

  <link rel="stylesheet" href="/assets/fonts/icofont/icofont.min.css">
  <link rel="stylesheet" href="/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.css">
  <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

  <!-- ======= MAIN STYLES ======= -->

  <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

<!-- Offcanval Overlay -->
<div class="offcanvas-overlay"></div>
<!-- Offcanval Overlay -->

<!-- Wrapper -->
<div class="wrapper">
  <!-- Header -->


  <!-- Main Wrapper -->
  <div class="main-wrapper">
    <!-- Sidebar -->

    <!-- End Sidebar -->

    <!-- Main Content -->
    <div class="main-content">
      <div class="container-fluid">
        <div class="card mb-30" style="margin-top: 10px">
          <div class="p-30">
            <div class="row justify-content-center">
              <div class="col-xl-10">
                <h3 class="text-center mb-30 mt-3" style="font-size: x-large; font-family: inherit;"><b>Основные разделы</b></h3>

                <div class="row">
                  <div class="col-lg-2 col-sm-4" style="font-size: large;">
                    <div class="topic text-success bg-success-light">Веб-сервис</div>
                  </div>
                  <div class="col-lg-2 col-sm-4" style="font-size: large;">
                    <div class="topic text-warning bg-warning-light">Вуз</div>
                  </div>
                  <div class="col-lg-2 col-sm-4" style="font-size: large;">
                    <div class="topic text-primary bg-primary-light">Чат-бот</div>
                  </div>
                  <div class="col-lg-2 col-sm-4" style="font-size: large;">
                    <div class="topic">Новости</div>
                  </div>
                  <div class="col-lg-2 col-sm-4" style="font-size: large;">
                    <div class="topic text-warning bg-warning-light">Пользователь</div>
                  </div>
                  <div class="col-lg-2 col-sm-4" style="font-size: large;">
                    <div class="topic text-danger bg-danger-light">Ошибки</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-30">
          <div class="p-40">
            <div class="row">
              <div class="col-xl-12" >
                <h4 class="mb-30 font-20" style="font-size: xx-large; font-family: inherit;"><b>Вопросы и ответы</b></h4>



                <div class="faq">
                  <h5 style="font-size: large;">Где я могу найти инфрмацию о вузе?</h5>
                  <p style="font-size: large;">Информация о вузе (История развития, Куда мы движемся, какие цели у вуза) ты можешь найти в документах на главной странице
				  сервиса. </p>
                </div>

                <div class="faq">
                  <h5 style="font-size: large;">Как мне пройти обучение?</h5>
                  <p style="font-size: large;">Зайди в раздел "Учебная комната". Там ты можешь выбрать любой курс из списка существующих,
				  пройти курс, назначенный руководителем или рекомендованные системой. Также
				  если ты хочешь рассказать полезную информацию другим острудникам и записать свой курс</p>
                </div>

                <div class="faq">
                  <h5 style="font-size: large;">Для чего нужна памятка студента</h5>
                  <p style="font-size: large;">Памятка студента расскажет тебе как устроена жизнь в нашем вузе, какие правила поведения  , какой дресскод
				 , деловой этикет, средства коммуникации. Также тебе будет предоставлена вся информация о социальном обеспечении </p>
                </div>

                <div class="faq">
                  <h5 style="font-size: large;">К кому я могу обратиться по вопросам?</h5>
                  <p style="font-size: large;">Любой возникающи вопрос ты можешь задать личному ассистенту Боте
				  в разделе чаты. Он поможет ответить тебе на вопросы или направит к нужному сотруднику.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="p-30">
            <div class="row justify-content-center">
              <div class="col-xl-8">
                <h3 class="text-center mb-30 mt-3">Остались вопросы? Напиши личному ассистенту в разделе "Чаты"</h3>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Main Content -->
  </div>
  <!-- End Main Wrapper -->


</div>
<!-- End wrapper -->

<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="assets/js/script.js"></script>
<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
</body>

</html>
